<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!! <%= email %></h1>
    <p>Non elit in elit laboris ipsum minim velit reprehenderit culpa est.Pariatur voluptate cupidatat esse laborum minim aliqua esse culpa id irure.</p>
</body>
</html>