<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>윈도우 팝업</h1>
    <p id="description"></p>
    <script type="text/javascript">
    window.resizeTo(400, 400);
    document.getElementById('description').innerHTML = 'window.opener: ' + window.opener;
    </script>
</body>
</html>